  <div class="content">
  <img class="logo">
    <div class="left">
      <ul>
        <% @items.take(4).each do |item| %>
        <li>
          <%= link_to item.name, item %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="right">
      <ul>
        <% @items.drop(4).each do |item| %>
        <li>
          <%= link_to item.name, item %>
        </li>
        <% end %>
        <li>
          <%= link_to "Ana menü", new_item_path %>
        </li>
      </ul>
    </div>
  </div>
</br>
<%= link_to 'Yeni İşlem', new_item_path %>
