// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

html, body {
	width: 100%;
}

body  {
	background-image: image-url('atm_bg.png');
	background-repeat: no-repeat;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.content {
	width: 602px;
	height: 370px;
	margin-top: 200px;
	margin-left: 285px;
	position: relative;
}

.content .logo {
	position: absolute;
	width: 359px;
	height: 77px;
	top: 23px;
	left: 146px;
	background-image: image-url('kurumsal-logobeyaz-big.jpg');

}

.content .left {
	float: left;
}

.content .right {
	float: right;
}

.content ul {
	list-style: none;
	margin-top: 130px;
}

.content ul li {

}

.content a , .show a{
	background: #f60;
	color: #fff;
	padding: 10px 50px;
	margin: 0 0 23px 0;
	text-decoration: none;
	display: block
}

.show {
	margin: 230px 0 0 316px;
	overflow: hidden;
	width: 578px;
}

.show p {
	padding-left: 30px;
}

.show a {
	width: 99px;
	margin-top: 213px;
}

.left { float: left; }

.right { float: right;}